# Logs
logs
*.log

# Dependencias
node_modules

# Compilación y distribuciones
dist
dist-ssr

# Configuraciones locales
.vscode/
*.local

# Archivos temporales o generados por herramientas
.DS_Store
*.sw?

# Docker y otros entornos
target
